body{
    height: 100vh ;
    overflow: hidden;
    display: grid;
 place-content: center;
 background-color: rgb(32, 61, 16);
    background-image: url(kim1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
color:rgb(226, 200, 52);
text-align: center;
font-size: 46px;
}

button{
    background-color: rgb(206, 223, 53);
    font-family: "Careny.tff";
    font-weight: 800;
    color: rgb(37, 3, 70);
    border-color: rgb(151, 153, 10);
    flex-direction: column;
position: relative;
border: none;
height: 50px;
width: 200px;
font-size: 22px;
transition: .3s linear;
cursor: pointer;


    
}

.btn:hover{

    background-color: palevioletred;
    box-shadow: 0 0 5px palevioletred, 0 0 25px palevioletred, 0 0
    50px palevioletred, 0 0 100px palevioletred, 0 0 300px palevioletred;

}

p{
   color: azure;
   font-size:20px;
   font-style:initial;
   font-weight: 400;
   
}